<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Smartphone Finder</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <div class="container">
      <h1>Smartphone Finder</h1>
      <form action="/search" method="post" class="form">
        <label>Brand (type part or full name)</label>
        <input name="brand" placeholder="e.g. Samsung or oneplus">




        




        <label>Maximum price (INR)</label>
        <input name="max_price" type="number" placeholder="e.g. 25000">

        <button type="submit">Find phones</button>
      </form>

      <section class="notes">
        <h1> CREATED BY :- HARSH (B.TECH) IT </h1>
        <p>RTU24101IT022</p>
      </section>
    </div>
  </body>
</html>